{"swagger":"2.0","info":{"version":"1.0.0","title":"Ready! API TestServer API","description":"A REST API based API testing framework; submit JSON test recipes using your favorite HTTP client or one of the existing open-source clients/tools on GitHub to run API tests either asynchronously or synchronously:\n- Java Client: https://github.com/SmartBear/ready-api-testserver-client\n- Maven Plugin: https://github.com/olensmar/readyapi-testserver-maven-plugin\n- Nodejs CLI: https://github.com/olensmar/ready-api-testserver-cli\n- Test-Recipe from Swagger generator: https://github.com/olensmar/testserver-swagger-codegen\n- Cucumber integration: https://github.com/olensmar/testserver-cucumber\n\nCheck out samples at https://github.com/smartbear/ready-api-testserver-samples and the documentation at http://readyapi.smartbear.com/testserver/start.\n\n### Try it out!\n\nA use-at-your-own-risk sandbox is provided at http://testserver.readyapi.io:8080 - feel free to try it out using Swagger-UI or any other tool of your liking (use demoUser/demoPassword as your basic authentication credentials). The sandbox is currently configured to support only REST requests and PropertyTransfers - if you want to try DataSources/DataSinks/Scripts in your API tests you will need to install and run your own instance of the TestServer - download it from https://smartbear.com/product/ready-api/testserver/overview/","contact":{"name":"SmartBear Software","url":"http://smartbear.com/testserver"}},"host":"testserver.readyapi.io:8080","basePath":"/v1","tags":[{"name":"readyapi"}],"schemes":["http"],"securityDefinitions":{"basicAuth":{"type":"basic","description":"Ready! API TestServer uses Basic authentication. Use the <code>-a &lt;user&gt;</code> command-line argument to add users. You can find detailed instructions in the <a href=\"http://readyapi.smartbear.com/testserver/install/configuring\">Ready! API TestServer documentation</a>."}},"paths":{"/readyapi/executions":{"get":{"tags":["readyapi"],"summary":"Returns test run results stored on the TestServer.","description":"Use this operation to get results of the latest test runs stored on the TestServer.<br/> The number of stored results is [configurable](http://readyapi.smartbear.com/testserver/reference/server_properties).","operationId":"getExecutions","produces":["application/json"],"parameters":[],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ProjectResultReports"}},"500":{"description":"Server error"}},"security":[{"basicAuth":[]}]},"post":{"tags":["readyapi"],"summary":"Runs a test recipe.","description":"Use this operation to send a test recipe to the TestServer. The recipe contents is passed in the request body (should be valid JSON contents).","operationId":"postRecipe","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"body","description":"JSON-based test recipe contents.","required":false,"schema":{"$ref":"#/definitions/TestCase"}},{"name":"async","description":"Specifies when the TestServer replies:<br/>`true` - Immediately.<br/>`false` - After the execution is over.","in":"query","required":false,"type":"boolean","default":true},{"name":"callback","description":"The URL, to which the results will be posted.","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ProjectResultReport"}},"400":{"description":"Bad request"},"429":{"description":"Too many requests"},"500":{"description":"Server error"}},"security":[{"basicAuth":[]}]}},"/readyapi/executions/xml":{"post":{"tags":["readyapi"],"summary":"Executes a Ready! API test project.","description":"Use this operation to send a Ready! API test project to the TestServer. You command the TestServer to execute the entire project, or an individual test suite or test case in it. The recipe request should have a Ready! API project file (.xml) attached to it.","operationId":"postProjectExecution","consumes":["application/xml"],"produces":["application/json"],"parameters":[{"in":"body","name":"body","description":"Ready! API XML project.","required":false,"schema":{"$ref":"#/definitions/InputStream"}},{"name":"testCaseName","description":"The name of the test case to run.","in":"query","required":false,"type":"string"},{"name":"testSuiteName","description":"The name of the test suite to run.","in":"query","required":false,"type":"string"},{"name":"async","description":"Specifies when TestServer replies:<br/>`true` - Immediately.<br/>`false` - After the execution is over.","in":"query","required":false,"type":"boolean","default":true},{"name":"callback","description":"The URL, to which the results will be posted.","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ProjectResultReport"}},"400":{"description":"Bad request"},"429":{"description":"Too many requests"},"500":{"description":"Server error"}},"security":[{"basicAuth":[]}]}},"/readyapi/executions/{executionID}":{"delete":{"tags":["readyapi"],"summary":"Cancels the specified recipe execution","description":"Use this operation to stop the run specified by <i>executionID</i>. You can find in the response to your execution request ([see how](http://readyapi.smartbear.com/testserver/tutorials/your_first_recipe/results)), or you can send a GET <code>/readyapi/executions</code> request to the TestServer.","operationId":"cancelExecution","parameters":[{"name":"executionID","description":"The id of the test run to stop.","in":"path","required":true,"type":"string"}],"responses":{"204":{"description":"Execution canceled"},"404":{"description":"The specified test run was not found"},"500":{"description":"Server error"}},"security":[{"basicAuth":[]}]}},"/readyapi/executions/{executionID}/status":{"get":{"tags":["readyapi"],"summary":"Returns the status of the specified recipe execution.","description":"Use this operation to get information on the recipe execution specified by <i>executionID</i>.  You can find in the response to your execution request ([see how](http://readyapi.smartbear.com/testserver/tutorials/your_first_recipe/results)), or you can send a GET <code>/readyapi/executions</code> request to the TestServer.","operationId":"getExecutionStatus","produces":["application/json"],"parameters":[{"name":"executionID","description":"The id of the desired test run.","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ProjectResultReport"}},"404":{"description":"The specified test run was not found"},"500":{"description":"Server error"}},"security":[{"basicAuth":[]}]}},"/readyapi/executions/{executionId}/files":{"post":{"tags":["readyapi"],"summary":"Posts a file for the specified test run","description":"Use this operation to send additional files required by the executed test recipes. For example, you may need to send an Excel file for your test recipe that uses an Excel data source. The test recipe will be in the \"PENDING\" status until it receives the required file. Use the <code>multipart/form-data</code> media type for this request.","operationId":"addFile","consumes":["multipart/form-data"],"produces":["application/json"],"parameters":[{"in":"body","name":"body","description":"Required file as `form-data`.","required":true,"schema":{"$ref":"#/definitions/FormDataMultiPart"}},{"name":"executionId","description":"The id of the test run that waits for the files. [See how you can get it](http://readyapi.smartbear.com/testserver/tutorials/your_first_recipe/results).","in":"path","required":true,"type":"string"},{"name":"async","description":"Specifies when the TestServer replies:<br/>`true` - Immediately.<br/>`false` - After the execution is over.","in":"query","required":false,"type":"boolean","default":true}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ProjectResultReport"}},"400":{"description":"Bad request"},"412":{"description":"Precondition failed","schema":{"$ref":"#/definitions/ProjectResultReport"}},"422":{"description":"Not a pending execution"},"429":{"description":"Too many requests"},"500":{"description":"Server error"}},"security":[{"basicAuth":[]}]}}},"definitions":{"JsonPathContentAssertion":{"description":"Data structure for the <a href=\"http://readyapi.smartbear.com/structure/assertions/property/json/match/introduction\">JsonPath Match</a> assertion.","allOf":[{"$ref":"#/definitions/Assertion"},{"type":"object","description":"Properties of the <a href=\"http://readyapi.smartbear.com/structure/assertions/property/json/match/introduction\">JsonPath Match</a> assertion.","properties":{"jsonPath":{"type":"string","description":"The path expression to use in matching."},"expectedContent":{"type":"string","description":"Expected result."},"allowWildcards":{"type":"boolean","description":"Specifies if asterisks  (<code>*</code>) in expectedContent are handled as wildcards.","default":false}}}]},"MultiPart":{"type":"object","properties":{"contentDisposition":{"$ref":"#/definitions/ContentDisposition"},"entity":{"type":"object","description":"Entity items."},"headers":{"type":"object","description":"Headers array.","additionalProperties":{"type":"array","items":{"type":"string"}}},"mediaType":{"$ref":"#/definitions/MediaType"},"messageBodyWorkers":{"$ref":"#/definitions/MessageBodyWorkers"},"parent":{"$ref":"#/definitions/MultiPart"},"providers":{"$ref":"#/definitions/Providers"},"bodyParts":{"type":"array","items":{"$ref":"#/definitions/BodyPart"}},"parameterizedHeaders":{"type":"object","additionalProperties":{"type":"array","items":{"$ref":"#/definitions/ParameterizedHeader"}}}}},"MediaType":{"type":"object","properties":{"type":{"type":"string"},"subtype":{"type":"string"},"parameters":{"type":"object","description":"Request parameters.","additionalProperties":{"type":"string"}},"wildcardType":{"type":"boolean","default":false},"wildcardSubtype":{"type":"boolean","default":false}}},"JdbcRequestTestStepStruct":{"description":"Data structure for the <a href=\"http://readyapi.smartbear.com/structure/steps/request/jdbc/properties\">JDBC Request</a> test step.","allOf":[{"$ref":"#/definitions/TestStep"},{"type":"object","description":"Properties of the <a href=\"http://readyapi.smartbear.com/structure/steps/request/jdbc/properties\">JDBC Request</a> test step.","properties":{"driver":{"type":"string","description":"The name of the driver used to connect to the database."},"connectionString":{"type":"string","description":"Full database URI including username and password as query parameters."},"password":{"type":"string","description":"Password used to connect to the database."},"sqlQuery":{"type":"string","description":"Query used to search the database."},"properties":{"type":"object","description":"Properties used to store received query results.","additionalProperties":{"type":"object"}},"assertions":{"type":"array","description":"Array of assertions used to verify test step results.","items":{"$ref":"#/definitions/Assertion"}},"storedProcedure":{"type":"boolean","description":"Specifies if the sqlQuery refers to the stored procedure.","default":false}}}]},"ProjectResultReport":{"type":"object","description":"Data structure for recipe execution results.","properties":{"projectName":{"type":"string","description":"The name of the executed project."},"status":{"type":"string","description":"Current execution status. If the assertion fail, the test is also FAILED.","enum":["INITIALIZED","PENDING","RUNNING","CANCELED","FINISHED","FAILED","WARNING"]},"testSuiteResultReports":{"type":"array","description":"The array of reports for test suites in the test recipe.","items":{"$ref":"#/definitions/TestSuiteResultReport"}},"timeTaken":{"type":"integer","description":"The number of milliseconds it took the TestServer to run the recipe.","format":"int64"},"startTime":{"type":"integer","description":"The timestamp of the execution start.","format":"int64"},"executionID":{"type":"string","description":"The identifier of the test run."},"unresolvedDataSources":{"type":"array","description":"To resolve data sources in your test, you need to send the data source file as an extra request.","items":{"$ref":"#/definitions/DataSource"}}}},"FormDataBodyPart":{"type":"object","properties":{"contentDisposition":{"$ref":"#/definitions/ContentDisposition"},"entity":{"type":"object"},"headers":{"type":"object","additionalProperties":{"type":"array","items":{"type":"string"}}},"mediaType":{"$ref":"#/definitions/MediaType"},"messageBodyWorkers":{"$ref":"#/definitions/MessageBodyWorkers"},"parent":{"$ref":"#/definitions/MultiPart"},"providers":{"$ref":"#/definitions/Providers"},"name":{"type":"string"},"value":{"type":"string"},"formDataContentDisposition":{"$ref":"#/definitions/FormDataContentDisposition"},"simple":{"type":"boolean","default":false},"parameterizedHeaders":{"type":"object","additionalProperties":{"type":"array","items":{"$ref":"#/definitions/ParameterizedHeader"}}}}},"InputStream":{"type":"object"},"PropertyTransferTestStep":{"allOf":[{"$ref":"#/definitions/TestStep"},{"type":"object","description":"The array of property transfers.","properties":{"transfers":{"type":"array","items":{"$ref":"#/definitions/PropertyTransfer"}}}}]},"Authentication":{"type":"object","description":"Data structure for authentication in test recipes.","properties":{"type":{"type":"string","description":"Authentication type. Possible values: <ul><li>Basic</li><li>SPNEGO/Kerberos</li><li>OAuth 2.0</li></ul>"},"username":{"type":"string","description":"Username used for authentication."},"password":{"type":"string","description":"Password used for authentication."},"domain":{"type":"string","description":"Domain the user belongs to. Required for Kerberos authentication."},"accessToken":{"type":"string","description":"For OAuth 2.0 only. Access token attached to the user."},"accessTokenPosition":{"type":"string","description":"For OAuth 2.0 only. The position of the access token."},"accessTokenUri":{"type":"string","description":"For OAuth 2.0 only. The URI used to retrieve the access token."},"clientId":{"type":"string","description":"For OAuth 2.0 only. The client ID attached to the user."},"clientSecret":{"type":"string","description":"For OAuth 2.0 only. The client secret key attached to the user."},"refreshToken":{"type":"string","description":"For OAuth 2.0 only. Specifies the refresh token used."}}},"XQueryContainsAssertion":{"description":"Data structure for the <a href=\"http://readyapi.smartbear.com/structure/assertions/property/xpath/xquery/match\">XQuery Match</a> assertion.","allOf":[{"$ref":"#/definitions/Assertion"},{"type":"object","description":"Properties of the <a href=\"http://readyapi.smartbear.com/structure/assertions/property/xpath/xquery/match\">XQuery Match</a> assertion.","properties":{"xquery":{"type":"string","description":"XQuery expression used to validate the message."},"expectedContent":{"type":"string","description":"Expected content returned by the XQuery expression."},"allowWildcards":{"type":"boolean","description":"Specifies if asterisks  (<code>*</code>) in expectedContent are handled as wildcards.","default":false}}}]},"TestStepResultReport":{"type":"object","description":"Data structure for test step results in the report.","properties":{"testStepName":{"type":"string","description":"The name of the test step"},"assertionStatus":{"type":"string","description":"Specifies if the assertions failed or succeeded.","enum":["UNKNOWN","OK","FAILED","CANCELED"]},"timeTaken":{"type":"integer","description":"The number of milliseconds it took the TestServer to run the test step.","format":"int64"},"messages":{"type":"array","description":"Error messages returned by the assertions.","items":{"type":"string"}}}},"DataSource":{"type":"object","description":"Data structure for specifying a <a href=\"http://readyapi.smartbear.com/structure/steps/data/source/start\">DataSource</a>.","properties":{"properties":{"type":"array","description":"The array of properties used to store retrieved data.","items":{"type":"string"}},"grid":{"type":"object","description":"Data structure for <a href=\"http://readyapi.smartbear.com/structure/sources/grid/start\">Grid Data Source</a>.","additionalProperties":{"type":"array","description":"The array of comma-separated data source items.","items":{"type":"string"}}},"excel":{"$ref":"#/definitions/ExcelDataSource"},"file":{"$ref":"#/definitions/FileDataSource"}}},"PropertyTransferTarget":{"type":"object","description":"Data structure for specifying the target of the property transfer.","properties":{"targetName":{"type":"string","description":"The full name of the target test step."},"property":{"type":"string","description":"Property name to transfer the values to."},"pathLanguage":{"type":"string","description":"The language used to specify the path expression. Possible values: <ul><li>XPath</li><li>XQuery</li><li>JSONPath</li></ul>"},"path":{"type":"string","description":"The expression in the specified language that specifies the exact element to which the data is be written."}}},"PropertyTransferSource":{"type":"object","description":"Data structure for specifying the source of the property transfer.","properties":{"sourceName":{"type":"string","description":"The full name of the source test step."},"property":{"type":"string","description":"Property name to get the values from."},"pathLanguage":{"type":"string","description":"The language used to specify the path expression. Possible values: <ul><li>XPath</li><li>XQuery</li><li>JSONPath</li></ul>"},"path":{"type":"string","description":"The expression in the specified language that specifies the exact element from which the data source gets the data."}}},"TestStep":{"type":"object","description":"Data structure for specifying test step properties.","discriminator":"type","properties":{"type":{"type":"string","description":"Test step type. Possible values: <ul><li>DataSource</li><li>Groovy</li><li>JDBC Request</li><li>Property Transfer</li><li>REST Request</li><li>TestStepStruct</li></ul>"},"name":{"type":"string","description":"Test step name. This name is used to refer to the test step in the test recipe."}}},"FileDataSource":{"type":"object","description":"Data structure for specifying <a href=\"http://readyapi.smartbear.com/structure/sources/file/introduction\">File Data Source</a> test step.","properties":{"filePath":{"type":"string","description":"The name of the file used for the data source."},"charset":{"type":"string","description":"Character set used in the data file."},"separator":{"type":"string","description":"Character used in the file to separate the values."},"trim":{"type":"boolean","description":"Removes excess blank spaces.","default":false},"quotedValues":{"type":"boolean","description":"Set this to true if values are in quotes.","default":false}}},"FormDataMultiPart":{"type":"object","properties":{"contentDisposition":{"$ref":"#/definitions/ContentDisposition"},"entity":{"type":"object"},"headers":{"type":"object","additionalProperties":{"type":"array","items":{"type":"string"}}},"mediaType":{"$ref":"#/definitions/MediaType"},"messageBodyWorkers":{"$ref":"#/definitions/MessageBodyWorkers"},"parent":{"$ref":"#/definitions/MultiPart"},"providers":{"$ref":"#/definitions/Providers"},"bodyParts":{"type":"array","items":{"$ref":"#/definitions/BodyPart"}},"fields":{"type":"object","additionalProperties":{"type":"array","items":{"$ref":"#/definitions/FormDataBodyPart"}}},"parameterizedHeaders":{"type":"object","additionalProperties":{"type":"array","items":{"$ref":"#/definitions/ParameterizedHeader"}}}}},"InvalidHttpStatusCodesAssertion":{"description":"Data structure for <a href=\"http://readyapi.smartbear.com/structure/assertions/compliance/http/invalid/start\">Invalid HTTP Status Codes</a> assertion.","allOf":[{"$ref":"#/definitions/Assertion"},{"type":"object","properties":{"invalidStatusCodes":{"type":"array","description":"A comma-separated list of HTTP codes receiving which causes the assertion to fail.","items":{"type":"integer","format":"int32"}}},"description":"Properties of the <a href=\"http://readyapi.smartbear.com/structure/assertions/compliance/http/invalid/start\">Invalid HTTP Status Codes</a> assertion."}]},"TestCaseResultReport":{"type":"object","description":"Data structure for the test results report of the test case execution.","properties":{"testCaseName":{"type":"string","description":"The name of the test case the report is for."},"testStepResultReports":{"type":"array","description":"The array of test step result reports.","items":{"$ref":"#/definitions/TestStepResultReport"}}}},"Parameter":{"type":"object","properties":{"type":{"type":"string"},"name":{"type":"string"},"value":{"type":"string"}},"description":"Parameter definition."},"FormDataContentDisposition":{"type":"object","properties":{"type":{"type":"string"},"parameters":{"type":"object","additionalProperties":{"type":"string"}},"fileName":{"type":"string"},"creationDate":{"type":"string","format":"date-time"},"modificationDate":{"type":"string","format":"date-time"},"readDate":{"type":"string","format":"date-time"},"size":{"type":"integer","format":"int64"},"name":{"type":"string"}}},"XPathContainsAssertion":{"description":"Data structure for the <a herf=\"http://readyapi.smartbear.com/structure/assertions/property/xpath/xpath/match\">XPath Match</a> assertion.","allOf":[{"$ref":"#/definitions/Assertion"},{"type":"object","properties":{"xpath":{"type":"string","description":"XPath expression used to select content from the test step results."},"expectedContent":{"type":"string","description":"Expected match results."},"allowWildcards":{"type":"boolean","description":"Treat <code>*</code> as wildcard in a match.","default":false},"ignoreNamespaces":{"type":"boolean","description":"Match in all namespaces.","default":false},"ignoreComments":{"type":"boolean","description":"Skip XML comments when matching.","default":false}},"description":"Properties of the <a herf=\"http://readyapi.smartbear.com/structure/assertions/property/xpath/xpath/match\">XPath Match</a> assertion."}]},"ResponseSLAAssertion":{"description":"Data structure for the <a herf=\"http://readyapi.smartbear.com/structure/assertions/sla/response\">Response SLA</a> assertion.","allOf":[{"$ref":"#/definitions/Assertion"},{"type":"object","properties":{"maxResponseTime":{"type":"integer","description":"Maximum accepted response time.","format":"int32"}},"description":"Properties of the <a herf=\"http://readyapi.smartbear.com/structure/assertions/sla/response\">Response SLA</a> assertion."}]},"DataSourceTestStep":{"description":"Data structure for the <a herf=\"http://readyapi.smartbear.com/structure/steps/data/source/start\">Data Source</a> test step.","allOf":[{"$ref":"#/definitions/TestStep"},{"type":"object","properties":{"dataSource":{"$ref":"#/definitions/DataSource"},"testSteps":{"type":"array","description":"Array of test steps using the data source and forming a data source loop.","items":{"$ref":"#/definitions/TestStep"}},"restartOnRun":{"type":"boolean","description":"If <code>true</code>, the iterator is set to the first row each time the test reaches the DataSource test step.","readOnly":true,"default":false},"preload":{"type":"boolean","description":"If <code>true</code>, the TestServer tries to preload the data before running the test.","default":false},"failOnEmpty":{"type":"boolean","description":"If <code>true</code>, the test step fails if the data source is empty.","default":false},"skipLoopOnEmpty":{"type":"boolean","description":"If <code>true</code>, skips the data source loop if the data source is empty.","default":false},"trimValues":{"type":"boolean","description":"If <code>true</code>, all leading and trailing spaces are removed.","default":false},"entitizeValues":{"type":"boolean","description":"If <code>true</code>, all HTML symbols are replaced with appropriate entities.","default":false},"expandProperties":{"type":"boolean","description":"If <code>true</code>, TestServer expands property expansion expressions in retrieved values.","default":false},"shared":{"type":"boolean","description":"If <code>true</code>, the data source iterator is used by all concurrent virtual users.","default":false},"restartShared":{"type":"boolean","description":"If <code>true</code> and <code>shared</code> is also <code>true</code>, resets the iterator when it reaches the end of data source.","default":false},"startRow":{"type":"string","description":"Zero-based index of the initial row that the data source uses."},"endRow":{"type":"string","description":"Zero-based index of the last row that the data source uses"}},"description":"Properties of the <a herf=\"http://readyapi.smartbear.com/structure/steps/data/source/start\">Data Source</a> test step."}]},"ParameterizedHeader":{"type":"object","properties":{"value":{"type":"string"},"parameters":{"type":"object","additionalProperties":{"type":"string"}}}},"JdbcStatusAssertionStruct":{"description":"Data structure for the <a herf=\"http://readyapi.smartbear.com/structure/assertions/jdbc/status\">JDBC Status</a> assertion.","allOf":[{"$ref":"#/definitions/Assertion"},{"type":"object","description":"Properties of the <a herf=\"http://readyapi.smartbear.com/structure/assertions/jdbc/status\">JDBC Status</a> test step.","properties":{}}]},"PropertyTransfer":{"type":"object","description":"Data structure for the <a herf=\"http://readyapi.smartbear.com/structure/steps/property/transfer/intro/step\">Property Transfer</a> test step.","properties":{"transferName":{"type":"string","description":"The name of the property transfer test step."},"source":{"$ref":"#/definitions/PropertyTransferSource"},"target":{"$ref":"#/definitions/PropertyTransferTarget"},"failTransferOnError":{"type":"boolean","description":"If <code>true</code>, the property transfer test step fails when an error occurs.","default":false},"setNullOnMissingSource":{"type":"boolean","description":"If <code>true</code>, sets target to <code>null</code> if the source is missing.","default":false},"transferTextContent":{"type":"boolean","description":"If <code>true</code>, only transfers text content.","default":false},"ignoreEmptyValue":{"type":"boolean","description":"If <code>true</code>, does not transfer empty or missing values.","default":false},"transferToAll":{"type":"boolean","description":"If <code>true</code>, transfers to all matching transfer selections.","default":false},"transferChildNodes":{"type":"boolean","description":"If <code>true</code>, transfers child nodes of the source node as children of the target node.","default":false},"entitizeTransferredValues":{"type":"boolean","description":"If <code>true</code>, all HTML symbols are replaced with appropriate entities.","default":false}}},"MessageBodyWorkers":{"type":"object"},"ExcelDataSource":{"type":"object","description":"Data structure for <a herf=\"http://readyapi.smartbear.com/structure/sources/excel/introduction\">Excel Data Source</a>.","properties":{"filePath":{"type":"string","description":"The name of the file used for the data source."},"worksheet":{"type":"string","description":"The name of the excel worksheet the test step gets data from."},"startAtCell":{"type":"string","description":"The cell from which the iterator starts gathering data."},"ignoreEmpty":{"type":"boolean","description":"If <code>true</code>, skips rows without data.","default":false}}},"GroovyScriptTestStep":{"description":"Data structure for the <a herf=\"http://readyapi.smartbear.com/structure/steps/script/groovy/step\">Groovy Script</a> test step.","allOf":[{"$ref":"#/definitions/TestStep"},{"type":"object","properties":{"script":{"type":"string","description":"A string holding the groovy script to execute."}},"description":"Properties of the <a herf=\"http://readyapi.smartbear.com/structure/steps/script/groovy/step\">Groovy Script</a> test step."}]},"JsonPathCountAssertion":{"description":"Data structure for the <a herf=\"http://readyapi.smartbear.com/structure/assertions/property/json/count/introduction\">JSONPath Count</a> assertion.","allOf":[{"$ref":"#/definitions/Assertion"},{"type":"object","description":"Properties of the <a herf=\"http://readyapi.smartbear.com/structure/assertions/property/json/count/introduction\">JSONPath Count</a> assertion.","properties":{"jsonPath":{"type":"string","description":"JSONPath expression used to select content from the test step results."},"expectedCount":{"type":"integer","description":"Expected number of matched results.","format":"int32"},"allowWildcards":{"type":"boolean","description":"Treat <code>*</code> as wildcard in a match.","default":false}}}]},"ProjectResultReports":{"type":"object","description":"Data structure for a project level report.","properties":{"projectResultReports":{"type":"array","description":"The array of executed test recipes.","items":{"$ref":"#/definitions/ProjectResultReport"}}}},"Assertion":{"type":"object","description":"Data Structure for specifying the assertion type.","discriminator":"type","properties":{"type":{"type":"string","description":"Assertion type. Possible values: <ul><li>AssertionStruct</li>  <li>Contains</li> <li>Invalid HTTP Status Codes</li> <li>JDBC Status</li> <li>JDBC Timeout</li> <li>JsonPath Count</li> <li>JsonPath Match</li> <li>Not Contains</li> <li>Response SLA</li> <li>Script Assertion</li> <li>Valid HTTP Status Codes</li> <li>XPath Match</li> <li>XQuery Match</li> </ul>"}}},"Providers":{"type":"object"},"GroovyScriptAssertion":{"description":"Data structure for the <a href=\"http://readyapi.smartbear.com/structure/assertions/script/groovy\"  target=\"_blank\">Groovy Script</a> assertion.","allOf":[{"$ref":"#/definitions/Assertion"},{"type":"object","properties":{"script":{"type":"string","description":"The desired Groovy script code. You can use the log, context and messageExchange variables."}},"description":"Properties of the \"Groovy Script\" assertion."}]},"SimpleNotContainsAssertion":{"description":"Data structure for the <a href=\"http://readyapi.smartbear.com/structure/assertions/property/content/not_contains\" target=\"_blank\">Not Contains</a> assertion.","allOf":[{"$ref":"#/definitions/Assertion"},{"type":"object","properties":{"token":{"type":"string","description":"The sought-for text or regular expression."},"ignoreCase":{"type":"boolean","default":false,"description":"Specifies if the search is case-sensitive (false) or not (true). Ignored, if you search with regular expressions."},"useRegexp":{"type":"boolean","default":false,"description":"Specifies if the token property is a regular expression (true) or plain text (false)."}},"description":"Properties of the \"Not Contains\" assertion."}]},"ContentDisposition":{"type":"object","properties":{"type":{"type":"string"},"parameters":{"type":"object","additionalProperties":{"type":"string"}},"fileName":{"type":"string"},"creationDate":{"type":"string","format":"date-time"},"modificationDate":{"type":"string","format":"date-time"},"readDate":{"type":"string","format":"date-time"},"size":{"type":"integer","format":"int64"}}},"BodyPart":{"type":"object","properties":{"contentDisposition":{"$ref":"#/definitions/ContentDisposition"},"entity":{"type":"object"},"headers":{"type":"object","additionalProperties":{"type":"array","items":{"type":"string"}}},"mediaType":{"$ref":"#/definitions/MediaType"},"messageBodyWorkers":{"$ref":"#/definitions/MessageBodyWorkers"},"parent":{"$ref":"#/definitions/MultiPart"},"providers":{"$ref":"#/definitions/Providers"},"parameterizedHeaders":{"type":"object","additionalProperties":{"type":"array","items":{"$ref":"#/definitions/ParameterizedHeader"}}}}},"JdbcTimeoutAssertionStruct":{"description":"Data structure for the <a href=\"http://readyapi.smartbear.com/structure/assertions/jdbc/timeout\" target=\"_blank\">JDBC Timeout</a> assertion.","allOf":[{"$ref":"#/definitions/Assertion"},{"type":"object","properties":{},"description":"Properties of the \"JDBC Timeout\" assertion."}]},"TestCase":{"description":"Properties of the test recipe. Analogues of the <a href=\"http://readyapi.smartbear.com/structure/cases/options/basic\">test case options</a>.<br/>See also <a href=\"http://readyapi.smartbear.com/testserver/howto/text/modifying\">Modifying Test Options</a>.","type":"object","properties":{"searchProperties":{"type":"boolean","default":false,"description":"???"},"maintainSession":{"type":"boolean","default":false,"description":"???"},"abortOnError":{"type":"boolean","default":false,"description":"Specifies if TestServer stops the recipe execution if an error occurs."},"failTestCaseOnError":{"type":"boolean","default":false,"description":"Specifies if TestServer logs the test run as failed if an error occurs."},"discardOkResults":{"type":"boolean","default":false,"description":"Specifies if TestServer logs messages on successful test step execution (false) or not (true). Set this property to true to save memory."},"socketTimeout":{"type":"string","description":"???"},"testCaseTimeout":{"type":"integer","format":"int32","description":"Sets the maximum execution time for the test in milliseconds. Default: 0 = timeout is not set."},"testSteps":{"description":"An array of test steps to be executed.","type":"array","items":{"$ref":"#/definitions/TestStep"}}},"example":{"testSteps":[{"type":"REST Request","method":"GET","URI":"https://api.swaggerhub.com/apis","assertions":[{"type":"Valid HTTP Status Codes","validStatusCodes":[200]}]}]}},"SimpleContainsAssertion":{"description":"Data structure for the <a href=\"http://readyapi.smartbear.com/structure/assertions/property/content/contains\" target=\"_blank\">Contains</a> assertion.","allOf":[{"$ref":"#/definitions/Assertion"},{"type":"object","properties":{"token":{"type":"string","description":"The sought-for text or regular expression."},"ignoreCase":{"type":"boolean","default":false,"description":"Specifies if the search is case-sensitive (false) or not (true). Ignored, if you search with a regular expressions."},"useRegexp":{"type":"boolean","default":false,"description":"Specifies if the token property is a regular expression (true) or plain text (false)."}},"description":"Properties of the \"Contains\" assertion."}]},"RestTestRequestStep":{"description":"Data structure for the <a href=\"http://readyapi.smartbear.com/structure/requests/rest/step/start\" target=\"_blank\">REST Request</a> test step.","allOf":[{"$ref":"#/definitions/TestStep"},{"type":"object","properties":{"method":{"type":"string","description":"The request type: GET, POST, DELETE, PUT and so on."},"URI":{"type":"string","description":"The URL, to which TestServer send the request."},"requestBody":{"type":"string","description":"The request body contents."},"authentication":{"$ref":"#/definitions/Authentication"},"parameters":{"type":"array","description":"An array of request parameters.","items":{"$ref":"#/definitions/Parameter"}},"assertions":{"description":"An array of assertions that verify the response to the request.","type":"array","items":{"$ref":"#/definitions/Assertion"}},"headers":{"type":"object","additionalProperties":{"type":"object"},"description":"Custom headers to be added to the request."},"encoding":{"type":"string","description":"The request data encoding, for example, utf-8."},"timeout":{"type":"string","description":"The maximum allowed execution time for the request in milliseconds."},"mediaType":{"type":"string","description":"The request data media type, for example, multipart/form-data."},"followRedirects":{"type":"boolean","default":false,"description":"Specifies how TestServer handles redirects. If this property is false and a redirect occurs, TestServer processes the response as it is. If the property is true, it waits for the response from the new location."},"entitizeParameters":{"type":"boolean","default":false,"description":"Specifies if TestServer escapes special characters like > or & in the request body. Set this property to false if data is already escaped."},"postQueryString":{"type":"boolean","default":false,"description":"Specifies if the TestServer includes the query string parameters to the request body or not."}}}]},"TestSuiteResultReport":{"type":"object","description":"Results of a test suite execution.","properties":{"testSuiteName":{"type":"string","description":"The test suite name."},"testCaseResultReports":{"type":"array","description":"An array of test case execution results.","items":{"$ref":"#/definitions/TestCaseResultReport"}}}},"ValidHttpStatusCodesAssertion":{"description":"Data structure for the <a href=\"http://readyapi.smartbear.com/structure/assertions/compliance/http/valid/start\" target=\"_blank\">Valid HTTP Status Codes</a> assertion.","allOf":[{"$ref":"#/definitions/Assertion"},{"type":"object","properties":{"validStatusCodes":{"type":"array","description":"An array of HTTP status codes which the assertion considers valid.","items":{"type":"integer","format":"int32","description":"An individual HTTP status code."}}},"description":"Properties of the \"Valid HTTP Status Codes\" assertion."}]}}}